main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

a {
  display: flex;
  width: fit-content;
  text-decoration: none;
  margin: 0.5rem;
}

@media (min-width: 768px) {
  main {
    margin: 4rem auto;
  }
}

.column {
  display: flex;
  flex-direction: column;
}
